@page "/nutrition/add-food"
@using MealMind.Shared.Contracts.Dto.Nutrition
@using MealMind.Shared.Contracts.Pagination
<h3>AddFood</h3>

@code {
    [SupplyParameterFromQuery]
    public Guid MealId { get; set; }

    [SupplyParameterFromQuery]
    public DateOnly Date { get; set; }

    private PaginatedList<FoodDto>? _foods;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    // private void FoodSearch

}