@page "/nutrition/food-search"
@using MealMind.Client.Infrastructure.Abstractions
@using MealMind.Shared.Contracts.Dto.Nutrition
@using MealMind.Shared.Contracts.Pagination
@inject IApiClient IApiClient

<h3>FoodSearch</h3>

<div class="prompt-box">
    <input
        @bind="_prompt"
        @bind:event="oninput"
        @bind:after="SubmitPrompt"
        type="text"
        id="prompt"
        placeholder="Type your message..."
        required
        minlength="1"
        maxlength="1000"/>
    <button @onclick="GetFood">
        Search
    </button>
    @if (_foods != null)
    {
        <div>
            <ul>
                @foreach (var food in _foods.Items)
                {
                    <li>@food.Name @(@food.Brand ?? string.Empty)</li>
                }
            </ul>
        </div>
    }

</div>

@code {
    private string? _prompt;
    private PaginatedList<SearchFoodDto>? _foods;
    private CancellationTokenSource _cts;

    private bool _isLoading;
    private string? _errorMessage;

    private async Task GetFood()
    {
        try
        {
            var response = await IApiClient.GetAsync<PaginatedList<SearchFoodDto>>
                ($"{IApiClient.NutritionModulePrefix}/food/search?SearchTerm={_prompt}'");
            if (response is { IsSuccess: true, Value: not null })
            {
                _foods = response.Value;
            }
            else
            {
                _errorMessage = response.Message ?? "Failed to load food data";
            }
        }
        catch (Exception e)
        {
            _errorMessage = $"Error: {e.Message}";
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task SubmitPrompt()
    {
        if (string.IsNullOrWhiteSpace(_prompt))
            return;

        await _cts.CancelAsync();
        _cts = new CancellationTokenSource();

        try
        {
            await Task.Delay(300, _cts.Token);
            await GetFood();
        }
        catch (TaskCanceledException)
        {
        }
    }

}