@page "/"
@using MealMind.Client.Application.State
@inject AuthState AuthState
@inject NavigationManager Navigation

<div>
    <h1>Welcome to MealMind!</h1>
    @if (AuthState.IsAuthenticated)
    {
        <p>You are logged in as: <strong>@AuthState.CurrentUser?.UserName</strong></p>
        <p>Email: @AuthState.CurrentUser?.Email</p>
        <p>Subscription: @AuthState.CurrentUser?.SubscriptionTier</p>
        <div>
            <p><a href="/Ai-Chat">Ai Chat</a></p>
        </div>
        <button @onclick="HandleLogout">Logout</button>
    }
    else
    {
        <p>Please log in to access your meal plans.</p>
        <a href="/login">Go to Login Page</a>
    }
</div>

@code {

    private async Task HandleLogout()
    {
        await AuthState.LogoutAsync();
        Navigation.NavigateTo("/", forceLoad: true);
    }

}